.navbar-header {
    max-height: 60px;
}

.header-text {
    margin-left: 0px;
    margin-top: 7px;
    display: inline-block;
    position: relative;
    text-decoration: none; 
}

.header-icon {
    border-color: rgb(4, 0, 255);
    color: #ccc;
    widows: 42px;
    height: 32px;
    line-height: 42px;
    font-size: 22px;
    display: inline-block;
    text-align: center; 
}

.text-wrap {
    line-height: 1.2;
    padding: 10px;
    color: rgb(65, 13, 65)
}

.list-unstyled > li > a {
    text-decoration: none;
    font-size: 18px;
}


